/* Themes */
:root {
	--color-accent: rgb(187, 0, 31);
	--color-offwhite: #f4f4f4;
	--color-offwhite-darker: #e1e1e1;
	--color-offwhite-darkest: #c2c2c2;
}

[data-theme="light"] {
	--color-bg: var(--color-offwhite);
	--color-fg: #333333;
	--color-shadow: rgba(0, 0, 0, 0.15);
	--color-table-border: #bebebe;
	--color-table-odd: #ffffff;
	--color-table-even: #ececec;
	--color-border: var(--color-offwhite-darkest);
}

[data-theme="dark"] {
	--color-bg: #1d1d1d;
	--color-fg: #f4f4f4;
	--color-shadow: rgba(0, 0, 0, 0.15);
	--color-table-border: #414141;
	--color-table-odd: #212121;
	--color-table-even: #313131;
	--color-border: #a3a3a3;
}

[data-theme="oled"] {
	--color-bg: black;
	--color-fg: var(--color-offwhite);
	--color-shadow: rgba(0, 0, 0, 0);
	--color-table-border: #414141;
	--color-table-odd: #000000;
	--color-table-even: #131313;
	--color-border: #3f3f3f;
}

/* General UI */

#root {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--color-bg);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: var(--color-accent);
}

a:hover {
	text-decoration: underline;
}

main {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 24px;
	color: var(--color-fg);
	flex: 1;
}

html,
body {
	height: 100%;
}

h2 {
	text-align: center;
}

/* Header */

header {
	background-color: var(--color-accent);
	color: var(--color-fg);
	padding: 15px;
	margin: 0;
}

nav div {
	display: flex;
	justify-content: space-between;
}

nav a {
	color: var(--color-offwhite);
	padding: 5px;
	font-weight: bold;
}

h1 {
	color: var(--color-offwhite);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	margin: 0;
	padding: 0;
	flex-grow: 1;
}

div {
	margin: 8px;
}

.topnav {
	overflow: hidden;
	position: relative;
}

.topnav #links-container {
	margin: 0;
	align-content: flex-end;
	display: flex;
	justify-content: flex-end;
}

.topnav #links {
	margin: 0;
	flex-direction: column;
	align-content: right;
	max-height: 0;
	opacity: 0;
	font-size: 15px;
	width: fit-content;
}

.topnav #links.active {
	opacity: 1;
}

.topnav #links a {
	text-align: right;
}

.dropdown-section>div {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	margin: 0;
	opacity: 0;
	max-height: 0;
	transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown-section>div.active {
	opacity: 1;
}

.dropdown-button {
	display: flex;
	background: none;
	align-self: flex-end;
	border: none;
	color: var(--color-offwhite);
	padding: 0px;
	margin: 5px;
	font-weight: bold;
	cursor: pointer;
	font-size: 15px;
	block-size: 17.5px;
}

.dropdown-button:hover {
	text-decoration: underline;
}

.dropdown-section {
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

.dropdown-section a {
	padding-right: 35px;
}

.topnav button.icon {
	display: block;
	position: absolute;
	right: 0;
	transform: translateY(-50%);
	background: none;
	border: none;
	color: var(--color-offwhite);
	width: fit-content;
	height: fit-content;
	padding: 5px;
	font-weight: bold;
	margin: 0px;
	cursor: pointer;
	font-size: large;
}

.hamburger {
	width: 15px;
	height: 16px;
}

#logo {
	margin: 0;
	padding: 0;
	cursor: pointer;
	display: inline-block;
}

#logo:hover {
	text-decoration: none;
}

/* Breadcrumbs */

.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 10px;
	color: var(--color-offwhite);
}

.breadcrumb li {
	list-style-position: inside;
}

.breadcrumb div {
	font-weight: bold;
	margin: 0;
	padding-left: 5px;
	color: var(--color-offwhite-darkest);
}

.breadcrumb li:not(:last-child)::after {
	content: ">";
	margin-left: 10px;
	margin-right: 10px;
}

@media (max-width: 600px) {
	.breadcrumb {
		font-size: 0.75em;
	}

	.breadcrumb li:not(:last-child)::after {
		content: ">";
		margin-left: 5px;
		margin-right: 5px;
	}
}

/* Link list page */

.linkList {
	display: flex;
	flex-direction: column;
}

.linkList a {
	margin: 16px;
	color: var(--color-fg);
	font-weight: bold;
}

.linkList a:hover {
	color: grey;
}

/* Footer */

footer {
	background-color: var(--color-accent);
	padding: 15px;
	color: var(--color-offwhite);
	text-align: center;
}

footer p {
	margin: 5px 0;
}

footer a {
	color: var(--color-offwhite);
	font-weight: bold;
	text-decoration: none;
	margin: 0 10px;
}

footer a:hover {
	text-decoration: underline;
}

@media (max-width: 600px) {
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	footer p {
		margin: 5px 0;
	}

	footer a {
		margin: 5px 0;
	}
}

@media (min-width: 601px) {
	footer {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	footer p {
		margin: 0 15px;
	}
}

/* Input */

input[type=button],
input[type=submit],
input[type=reset],
button {
	background-color: var(--color-accent);
	border: none;
	color: var(--color-offwhite);
	padding: 16px 32px;
	margin: 8px;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	border-radius: 12px;
}

input[type=range] {
	-webkit-appearance: none;
	appearance: none;
	width: 300px;
	height: 25px;
	background: var(--color-offwhite-darker);
	outline: none;
	border-radius: 12px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: var(--color-accent);
	cursor: pointer;
	border-radius: 50%;
}

input[type=range]::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: var(--color-accent);
	cursor: pointer;
	border-radius: 50%;
}

@media (max-width: 600px) {
	input[type=range] {
		width: 75%;
	}
}

.circle {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle;
}

input[type="radio"] {
	margin-right: 15px;
}

input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: var(--color-offwhite-darker);
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid var(--color-offwhite-darkest);
}

input[type='radio']:hover:after {
	background-color: rgb(210, 150, 150);
}

input[type='radio']:checked:after {
	background-color: var(--color-accent);
}

.radio-buttons {
	width: fit-content;
	margin: 0 auto;
	text-align: left;
}

.radio-buttons div {
	display: flex;
	align-items: center;
}


/* Table styles */

table {
	border-collapse: collapse;
	box-shadow: 0 0 20px var(--color-shadow);
}

thead th {
	background-color: var(--color-accent);
	color: var(--color-offwhite);
}

th {
	position: sticky;
	top: 0;
}

tbody tr {
	border-bottom: 1px solid var(--color-table-border);
	border-left: 1px solid var(--color-table-border);
	border-right: 1px solid var(--color-table-border);
}

tbody tr:nth-of-type(even) {
	background-color: var(--color-table-even);
}

tbody tr:nth-of-type(odd) {
	background-color: var(--color-table-odd);
}

tbody tr:last-of-type {
	border-bottom: 2px solid var(--color-accent);
}

th,
td {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.tables {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto;
	margin-bottom: 25px;
}

h3 {
	text-align: center;
}

@media (max-width: 600px) {

	th,
	td {
		width: 5px;
		font-size: 14px;
		padding-left: 5px;
		padding-right: 5px;
	}
}


/* Loader styles */

.loading {
	border: 16px solid var(--color-border);
	border-radius: 50%;
	border-top: 16px solid var(--color-accent);
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#loader {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

/* Bingo styles */

.bingo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bingo>div {
	text-align: center;
	margin-right: 1px;
	margin-left: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	width: 100px;
	height: 100px;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	word-break: break-word;
	hyphens: auto;
	-webkit-hyphens: auto;
}

.bingo {
	background-color: var(--color-accent);
	display: grid;
	height: fit-content;
	width: fit-content;
	grid-template-columns: repeat(5, 1fr);
	padding: 1px;
	place-content: center;
	justify-items: center;
	align-items: center;
	color: black;
}

.marked {
	background-color: var(--color-accent);
	color: var(--color-offwhite);
	text-decoration: line-through;
}

.bingo>div:not(.marked) {
	background-color: var(--color-offwhite);
}


@media (max-width: 600px) {
	.bingo>div {
		width: 18vw;
		height: 18vw;
		font-size: 2vw;
	}
}

/* List styles */

.container {
	width: 300px;
	margin: 50px auto;
	padding: 0;
	list-style: none;
	border: 1px solid var(--color-border);
}

.item-wrapper {
	display: flex;
	align-items: center;
	margin: 0;
	background: var(--color-table-odd);
	border: 1px solid var(--color-border);
	cursor: move;
	transition: transform 0.3s ease;
	position: relative;
}

.item {
	flex-grow: 1;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.number {
	width: 30px;
	text-align: right;
	margin-right: 15px;
	font-weight: bold;
}

.over {
	border: 2px dashed var(--color-bg);
}

.disable-transitions {
	transition: none !important;
}

.item {
	width: 175px;
}

@media (max-width: 600px) {
	.item-wrapper {
		font-size: smaller;
	}
}

.paragraph p {
	text-align: center;
	margin: 0 auto;
}

@media (max-width: 600px) {
	.paragraph p {
		width: 80%;
		font-size: medium;
	}
}

@media (min-width: 601px) {
	.paragraph p {
		width: 50%;
	}
}

#v-logo {
	background-color: rgb(187, 0, 31);
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.pin-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pin-input {
	color: var(--color-fg);
	font-family: monospace;
	font-size: 1em;
	border: none;
	outline: none;
	padding: 0;
	width: calc(1.6ch * 19);
	background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.6ch) 0 100%/100% 2px no-repeat;
	letter-spacing: .6ch;
	max-width: 100%;
}

@media (max-width: 600px) {
	.pin-input {
		font-size: 0.75em;
	}
}
